<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edtechhub.workcollaborativeimages.mapper.SpaceMapper">

    <resultMap id="BaseResultMap" type="cn.com.edtechhub.workcollaborativeimages.model.entity.Space">
            <id property="id" column="id" />
            <result property="type" column="type" />
            <result property="spaceName" column="space_name" />
            <result property="spaceLevel" column="space_level" />
            <result property="maxSize" column="max_size" />
            <result property="maxCount" column="max_count" />
            <result property="totalSize" column="total_size" />
            <result property="totalCount" column="total_count" />
            <result property="userId" column="user_id" />
            <result property="deleted" column="deleted" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,type,space_name,space_level,max_size,max_count,total_size,
        total_count,user_id,deleted,create_time,update_time
    </sql>
</mapper>
